# Lesson 3: Connecting to a SQL Database

## Setup

In [1]:
import os
from IPython.display import Markdown, HTML, display
from langchain.chat_models import AzureChatOpenAI
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain_openai import AzureChatOpenAI

## Recover the original dataset

**Note**: To access the data locally, use the following code:

```
os.makedirs("data",exist_ok=True)
!wget https://covidtracking.com/data/download/all-states-history.csv -P ./data/
file_url = "./data/all-states-history.csv"
df = pd.read_csv(file_url).fillna(value = 0)
```

In [2]:
from sqlalchemy import create_engine
import pandas as pd


df = pd.read_csv("./data/all-states-history.csv").fillna(value = 0)

## Move the data to the SQL database

In [3]:
# Path to your SQLite database file
database_file_path = "./db/test.db"

# Create an engine to connect to the SQLite database
# SQLite only requires the path to the database file
engine = create_engine(f'sqlite:///{database_file_path}')
file_url = "./data/all-states-history.csv"
df = pd.read_csv(file_url).fillna(value = 0)
df.to_sql(
    'all_states_history',
    con=engine,
    if_exists='replace',
    index=False
)

20780

## Prepare the SQL prompt

In [4]:
MSSQL_AGENT_PREFIX = """

You are an agent designed to interact with a SQL database.
## Instructions:
- Given an input question, create a syntactically correct {dialect} query
to run, then look at the results of the query and return the answer.
- Unless the user specifies a specific number of examples they wish to
obtain, **ALWAYS** limit your query to at most {top_k} results.
- You can order the results by a relevant column to return the most
interesting examples in the database.
- Never query for all the columns from a specific table, only ask for
the relevant columns given the question.
- You have access to tools for interacting with the database.
- You MUST double check your query before executing it.If you get an error
while executing a query,rewrite the query and try again.
- DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.)
to the database.
- DO NOT MAKE UP AN ANSWER OR USE PRIOR KNOWLEDGE, ONLY USE THE RESULTS
OF THE CALCULATIONS YOU HAVE DONE.
- Your response should be in Markdown. However, **when running  a SQL Query
in "Action Input", do not include the markdown backticks**.
Those are only for formatting the response, not for executing the command.
- ALWAYS, as part of your final answer, explain how you got to the answer
on a section that starts with: "Explanation:". Include the SQL query as
part of the explanation section.
- If the question does not seem related to the database, just return
"I don\'t know" as the answer.
- Only use the below tools. Only use the information returned by the
below tools to construct your query and final answer.
- Do not make up table names, only use the tables returned by any of the
tools below.

## Tools:

"""

In [5]:
MSSQL_AGENT_FORMAT_INSTRUCTIONS = """

## Use the following format:

Question: the input question you must answer.
Thought: you should always think about what to do.
Action: the action to take, should be one of [{tool_names}].
Action Input: the input to the action.
Observation: the result of the action.
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer.
Final Answer: the final answer to the original input question.

Example of Final Answer:
<=== Beginning of example

Action: query_sql_db
Action Input: 
SELECT TOP (10) [death]
FROM covidtracking 
WHERE state = 'TX' AND date LIKE '2020%'

Observation:
[(27437.0,), (27088.0,), (26762.0,), (26521.0,), (26472.0,), (26421.0,), (26408.0,)]
Thought:I now know the final answer
Final Answer: There were 27437 people who died of covid in Texas in 2020.

Explanation:
I queried the `covidtracking` table for the `death` column where the state
is 'TX' and the date starts with '2020'. The query returned a list of tuples
with the number of deaths for each day in 2020. To answer the question,
I took the sum of all the deaths in the list, which is 27437.
I used the following query

```sql
SELECT [death] FROM covidtracking WHERE state = 'TX' AND date LIKE '2020%'"
```
===> End of Example

"""

## Call the Azure Chat model and create the SQL agent

**Note**: The pre-configured cloud resource grants you access to the Azure OpenAI GPT model. The key and endpoint provided below are intended for teaching purposes only. Your notebook environment is already set up with the necessary keys, which may differ from those used by the instructor during the filming.

In [6]:
llm = AzureChatOpenAI(
    openai_api_version="2023-05-15",
    azure_deployment="gpt-4-1106",
    azure_endpoint=os.getenv("AZURE_OPENAI_ENDPOINT"),
    temperature=0, 
    max_tokens=500
)

db = SQLDatabase.from_uri(f'sqlite:///{database_file_path}')
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [7]:
QUESTION = """How may patients were hospitalized during October 2020
in New York, and nationwide as the total of all states?
Use the hospitalizedIncrease column
"""

agent_executor_SQL = create_sql_agent(
    prefix=MSSQL_AGENT_PREFIX,
    format_instructions = MSSQL_AGENT_FORMAT_INSTRUCTIONS,
    llm=llm,
    toolkit=toolkit,
    top_k=30,
    verbose=True
)

## Invoke the SQL model

In [8]:
agent_executor_SQL.invoke(QUESTION)

> Entering new AgentExecutor chain...
To answer this question, I need to query the database for the sum of the `hospitalizedIncrease` column for the state of New York and for all states during October 2020.

Action: sql_db_list_tables
Action Input: albums, all_states_history, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracksThe table that likely contains the data I need for COVID-19 hospitalizations is `all_states_history`.

Action: sql_db_schema
Action Input: all_states_history
CREATE TABLE all_states_history (
	date TEXT,
	state TEXT,
	death FLOAT,
	"deathConfirmed" FLOAT,
	"deathIncrease" BIGINT,
	"deathProbable" FLOAT,
	hospitalized FLOAT,
	"hospitalizedCumulative" FLOAT,
	"hospitalizedCurrently" FLOAT,
	"hospitalizedIncrease" BIGINT,
	"inIcuCumulative" FLOAT,
	"inIcuCurrently" FLOAT,
	negative FLOAT,
	"negativeIncrease" BIGINT,
	"negativeTestsAntibody" FLOAT,
	"negativeTestsPeopleAntibody" FLOAT,
	"negativeTestsViral" FLOAT,
	"onVentilatorCumulative" FLOAT,
	"onVentilatorCurrently" FLOAT,
	positive FLOAT,
	"positiveCasesViral" FLOAT,
	"positiveIncrease" BIGINT,
	"positiveScore" BIGINT,
	"positiveTestsAntibody" FLOAT,
	"positiveTestsAntigen" FLOAT,
	"positiveTestsPeopleAntibody" FLOAT,
	"positiveTestsPeopleAntigen" FLOAT,
	"positiveTestsViral" FLOAT,
	recovered FLOAT,
	"totalTestEncountersViral" FLOAT,
	"totalTestEncountersViralIncrease" BIGINT,
	"totalTestResults" FLOAT,
	"totalTestResultsIncrease" BIGINT,
	"totalTestsAntibody" FLOAT,
	"totalTestsAntigen" FLOAT,
	"totalTestsPeopleAntibody" FLOAT,
	"totalTestsPeopleAntigen" FLOAT,
	"totalTestsPeopleViral" FLOAT,
	"totalTestsPeopleViralIncrease" BIGINT,
	"totalTestsViral" FLOAT,
	"totalTestsViralIncrease" BIGINT
)

/*
3 rows from all_states_history table:
date	state	death	deathConfirmed	deathIncrease	deathProbable	hospitalized	hospitalizedCumulative	hospitalizedCurrently	hospitalizedIncrease	inIcuCumulative	inIcuCurrently	negative	negativeIncrease	negativeTestsAntibody	negativeTestsPeopleAntibody	negativeTestsViral	onVentilatorCumulative	onVentilatorCurrently	positive	positiveCasesViral	positiveIncrease	positiveScore	positiveTestsAntibody	positiveTestsAntigen	positiveTestsPeopleAntibody	positiveTestsPeopleAntigen	positiveTestsViral	recovered	totalTestEncountersViral	totalTestEncountersViralIncrease	totalTestResults	totalTestResultsIncrease	totalTestsAntibody	totalTestsAntigen	totalTestsPeopleAntibody	totalTestsPeopleAntigen	totalTestsPeopleViral	totalTestsPeopleViralIncrease	totalTestsViral	totalTestsViralIncrease
2021-03-07	AK	305.0	0.0	0	0.0	1293.0	1293.0	33.0	0	0.0	0.0	0.0	0	0.0	0.0	1660758.0	0.0	2.0	56886.0	0.0	0	0	0.0	0.0	0.0	0.0	68693.0	0.0	0.0	0	1731628.0	0	0.0	0.0	0.0	0.0	0.0	0	1731628.0	0
2021-03-07	AL	10148.0	7963.0	-1	2185.0	45976.0	45976.0	494.0	0	2676.0	0.0	1931711.0	2087	0.0	0.0	0.0	1515.0	0.0	499819.0	392077.0	408	0	0.0	0.0	0.0	0.0	0.0	295690.0	0.0	0	2323788.0	2347	0.0	0.0	119757.0	0.0	2323788.0	2347	0.0	0
2021-03-07	AR	5319.0	4308.0	22	1011.0	14926.0	14926.0	335.0	11	0.0	141.0	2480716.0	3267	0.0	0.0	2480716.0	1533.0	65.0	324818.0	255726.0	165	0	0.0	0.0	0.0	81803.0	0.0	315517.0	0.0	0	2736442.0	3380	0.0	0.0	0.0	481311.0	0.0	0	2736442.0	3380
*/The `all_states_history` table contains the `hospitalizedIncrease` column, which is what I need to sum up for New York and for all states during October 2020. The date format seems to be in `YYYY-MM-DD` format, so I will need to filter the dates to match October 2020, which would be dates starting with '2020-10'.

Action: sql_db_query_checker
Action Input:
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE state = 'NY' AND date LIKE '2020-10%'
The provided SQLite query does not exhibit any of the common mistakes listed. It correctly uses the SUM function to aggregate the hospitalizedIncrease column, filters the state to 'NY', and uses the LIKE operator to match dates from October 2020. The query does not use NOT IN, UNION/UNION ALL, BETWEEN, have any data type mismatches, improperly quoted identifiers, incorrect number of function arguments, incorrect casting, or improper join columns. Therefore, the original query can be reproduced as is:

```sql
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE state = 'NY' AND date LIKE '2020-10%'
```The query checker has confirmed that the query is correct. Now I will execute the query to find out how many patients were hospitalized in New York during October 2020.

Action: sql_db_query
Action Input:
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE state = 'NY' AND date LIKE '2020-10%'
[(0,)]The result indicates that the sum of `hospitalizedIncrease` for New York in October 2020 is 0. This could mean that there were no new hospitalizations reported in the dataset for that period, or it could be a data reporting issue. To ensure accuracy, I should also check the nationwide total for the same period.

Action: sql_db_query_checker
Action Input:
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE date LIKE '2020-10%'
The provided SQLite query does not exhibit any of the common mistakes listed. It correctly uses the SUM function to aggregate the 'hospitalizedIncrease' column, filters the 'date' column using the LIKE operator to match dates from October 2020, and does not involve any of the other mentioned issues such as NOT IN with NULL values, UNION vs UNION ALL, BETWEEN for exclusive ranges, data type mismatches, improper quoting, incorrect function arguments, incorrect casting, or improper columns for joins.

The original query is reproduced below:

```sql
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE date LIKE '2020-10%'
```The query checker has confirmed that the query is correct. Now I will execute the query to find out the total number of patients hospitalized nationwide during October 2020.

Action: sql_db_query
Action Input:
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE date LIKE '2020-10%'
[(53485,)]I now know the final answer.

Final Answer: During October 2020, there were 0 patients hospitalized in New York according to the dataset. Nationwide, there were a total of 53,485 patients hospitalized during the same period.

> Finished chain.

{'input': 'How may patients were hospitalized during October 2020\nin New York, and nationwide as the total of all states?\nUse the hospitalizedIncrease column\n',
 'output': 'During October 2020, there were 0 patients hospitalized in New York according to the dataset. Nationwide, there were a total of 53,485 patients hospitalized during the same period.'}

In [10]:
df.sample(3)

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
17575,2020-04-28,TX,690.0,0.0,27,0.0,0.0,0.0,1682.0,0,...,349729.0,17581,0.0,0.0,0.0,0.0,0.0,0,349729.0,17581
1394,2021-02-11,VI,25.0,0.0,1,0.0,0.0,0.0,0.0,0,...,44381.0,455,0.0,0.0,0.0,0.0,44480.0,448,0.0,0
12889,2020-07-20,DE,523.0,465.0,0,58.0,0.0,0.0,47.0,0,...,216664.0,4709,0.0,0.0,0.0,0.0,152995.0,0,0.0,0

In [12]:
QUESTION = """How many patients were hospitalized in California and Texas 
during November 2020, using the hospitalizedIncrease column?"""

agent_executor_SQL.invoke(QUESTION)

> Entering new AgentExecutor chain...
I need to find the total increase in hospitalizations for California and Texas during November 2020. To do this, I will need to sum the `hospitalizedIncrease` column for each state within the specified time frame.

Action: sql_db_list_tables
Action Input: albums, all_states_history, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracksThe table that likely contains the data I need for COVID-19 hospitalizations is `all_states_history`.

Action: sql_db_schema
Action Input: all_states_history
CREATE TABLE all_states_history (
	date TEXT,
	state TEXT,
	death FLOAT,
	"deathConfirmed" FLOAT,
	"deathIncrease" BIGINT,
	"deathProbable" FLOAT,
	hospitalized FLOAT,
	"hospitalizedCumulative" FLOAT,
	"hospitalizedCurrently" FLOAT,
	"hospitalizedIncrease" BIGINT,
	"inIcuCumulative" FLOAT,
	"inIcuCurrently" FLOAT,
	negative FLOAT,
	"negativeIncrease" BIGINT,
	"negativeTestsAntibody" FLOAT,
	"negativeTestsPeopleAntibody" FLOAT,
	"negativeTestsViral" FLOAT,
	"onVentilatorCumulative" FLOAT,
	"onVentilatorCurrently" FLOAT,
	positive FLOAT,
	"positiveCasesViral" FLOAT,
	"positiveIncrease" BIGINT,
	"positiveScore" BIGINT,
	"positiveTestsAntibody" FLOAT,
	"positiveTestsAntigen" FLOAT,
	"positiveTestsPeopleAntibody" FLOAT,
	"positiveTestsPeopleAntigen" FLOAT,
	"positiveTestsViral" FLOAT,
	recovered FLOAT,
	"totalTestEncountersViral" FLOAT,
	"totalTestEncountersViralIncrease" BIGINT,
	"totalTestResults" FLOAT,
	"totalTestResultsIncrease" BIGINT,
	"totalTestsAntibody" FLOAT,
	"totalTestsAntigen" FLOAT,
	"totalTestsPeopleAntibody" FLOAT,
	"totalTestsPeopleAntigen" FLOAT,
	"totalTestsPeopleViral" FLOAT,
	"totalTestsPeopleViralIncrease" BIGINT,
	"totalTestsViral" FLOAT,
	"totalTestsViralIncrease" BIGINT
)

/*
3 rows from all_states_history table:
date	state	death	deathConfirmed	deathIncrease	deathProbable	hospitalized	hospitalizedCumulative	hospitalizedCurrently	hospitalizedIncrease	inIcuCumulative	inIcuCurrently	negative	negativeIncrease	negativeTestsAntibody	negativeTestsPeopleAntibody	negativeTestsViral	onVentilatorCumulative	onVentilatorCurrently	positive	positiveCasesViral	positiveIncrease	positiveScore	positiveTestsAntibody	positiveTestsAntigen	positiveTestsPeopleAntibody	positiveTestsPeopleAntigen	positiveTestsViral	recovered	totalTestEncountersViral	totalTestEncountersViralIncrease	totalTestResults	totalTestResultsIncrease	totalTestsAntibody	totalTestsAntigen	totalTestsPeopleAntibody	totalTestsPeopleAntigen	totalTestsPeopleViral	totalTestsPeopleViralIncrease	totalTestsViral	totalTestsViralIncrease
2021-03-07	AK	305.0	0.0	0	0.0	1293.0	1293.0	33.0	0	0.0	0.0	0.0	0	0.0	0.0	1660758.0	0.0	2.0	56886.0	0.0	0	0	0.0	0.0	0.0	0.0	68693.0	0.0	0.0	0	1731628.0	0	0.0	0.0	0.0	0.0	0.0	0	1731628.0	0
2021-03-07	AL	10148.0	7963.0	-1	2185.0	45976.0	45976.0	494.0	0	2676.0	0.0	1931711.0	2087	0.0	0.0	0.0	1515.0	0.0	499819.0	392077.0	408	0	0.0	0.0	0.0	0.0	0.0	295690.0	0.0	0	2323788.0	2347	0.0	0.0	119757.0	0.0	2323788.0	2347	0.0	0
2021-03-07	AR	5319.0	4308.0	22	1011.0	14926.0	14926.0	335.0	11	0.0	141.0	2480716.0	3267	0.0	0.0	2480716.0	1533.0	65.0	324818.0	255726.0	165	0	0.0	0.0	0.0	81803.0	0.0	315517.0	0.0	0	2736442.0	3380	0.0	0.0	0.0	481311.0	0.0	0	2736442.0	3380
*/The `all_states_history` table contains the `hospitalizedIncrease` column, which is what I need to sum up for California (CA) and Texas (TX) during November 2020. The date format seems to be YYYY-MM-DD, so I will need to filter dates between '2020-11-01' and '2020-11-30' for both states.

Action: sql_db_query_checker
Action Input:
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE state IN ('CA', 'TX') AND date >= '2020-11-01' AND date <= '2020-11-30'The original SQL query provided does not seem to contain any of the common mistakes listed. The query correctly uses IN for a list of values, does not use UNION or UNION ALL, uses explicit range conditions instead of BETWEEN (which is inclusive), appears to match data types in predicates, does not misuse quotes around identifiers, uses the correct number of arguments for the SUM function, does not require casting, and does not involve joins. Therefore, the original query can be reproduced as is:

```sql
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE state IN ('CA', 'TX') AND date >= '2020-11-01' AND date <= '2020-11-30'
```The query checker indicates that the SQL query is correct and does not contain common mistakes. Now I will execute the query to get the total number of hospitalizations in California and Texas during November 2020.

Action: sql_db_query
Action Input:
SELECT SUM(hospitalizedIncrease) FROM all_states_history WHERE state IN ('CA', 'TX') AND date >= '2020-11-01' AND date <= '2020-11-30'[(0,)]The result indicates that the sum of `hospitalizedIncrease` for California and Texas during November 2020 is 0, which seems unlikely. It's possible that the data for `hospitalizedIncrease` might not be recorded or available for that period, or there might be an issue with the data itself.

To verify this, I should check a few sample rows from the `all_states_history` table for the states of California and Texas during November 2020 to see if the `hospitalizedIncrease` column has non-zero values.

Action: sql_db_query
Action Input:
SELECT date, state, hospitalizedIncrease FROM all_states_history WHERE state IN ('CA', 'TX') AND date LIKE '2020-11%' LIMIT 10[('2020-11-30', 'CA', 0), ('2020-11-30', 'TX', 0), ('2020-11-29', 'CA', 0), ('2020-11-29', 'TX', 0), ('2020-11-28', 'CA', 0), ('2020-11-28', 'TX', 0), ('2020-11-27', 'CA', 0), ('2020-11-27', 'TX', 0), ('2020-11-26', 'CA', 0), ('2020-11-26', 'TX', 0)]The sample rows from the `all_states_history` table for California and Texas during November 2020 show that the `hospitalizedIncrease` column has values of 0 for the dates checked. This suggests that either the data for hospitalization increases was not recorded or reported as increases for those days, or there might be an issue with the data collection for that specific column during that time period.

Given this information, it seems that the sum of `hospitalizedIncrease` for California and Texas during November 2020 is indeed 0 according to the database, but this result should be interpreted with caution as it may not reflect the actual situation due to potential data issues.

Thought: I now know the final answer.
Final Answer: According to the database, the sum of `hospitalizedIncrease` for California and Texas during November 2020 is 0. However, this result may not accurately reflect the actual number of hospitalizations due to potential data recording issues.

> Finished chain.

{'input': 'How many patients were hospitalized in California and Texas \nduring November 2020, using the hospitalizedIncrease column?',
 'output': 'According to the database, the sum of `hospitalizedIncrease` for California and Texas during November 2020 is 0. However, this result may not accurately reflect the actual number of hospitalizations due to potential data recording issues.'}